<div>
    <h1>Quiz</h1>
</div>

<div>
    {{#each trivia}}
     <li>
          {{this}}
     </li>


        
    {{/each}}
</div>

{{!--     <li>
            {{question}}
            <li>
               {{incorrect_answers}},{{correct_answer}}                           
            </li>            
        </li> --}}